@{
  Layout = "_Layout";
}

<h1>Robert's Video Game Collection</h1>

<h2>Add a new game</h2>
<form action="/games/all" method="post">
  <label for="new-game">Game Title: </label>
  <input type="text" id="new-game" name="new-game" class="form-control">
  <button type="submit" class="btn btn-default">Add</button>
</form>
